
@using MyNotes.BusinessLayer.Models
@{
    
    var user = CurrentSession.User;
    
}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/Home/Index">My Notes 102</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                @if (user!=null)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-wrench"></i> Yonetim</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Note/Create">Not Ekle</a></li>
                            <li><hr class="dropdown-divider"/></li>
                            <li><a class="dropdown-item" href="/Note/Index">Notlarim</a></li>
                            <li><a class="dropdown-item" href="/Note/MyLikedNotes">Begendiklerim</a></li>

                            @if (user.IsAdmin == true)
                            {
                                <li><hr class="dropdown-divider"/></li>
                                <li><a class="dropdown-item" href="/Category/Create">Kategori Ekle</a></li>
                                <li><a class="dropdown-item" href="/Category/Index">Kategoriler</a></li>
                                <li><hr class="dropdown-divider"/></li>
                                <li><a class="dropdown-item" href="/MyNotesUser/Create">Kullanici Ekle</a></li>
                                <li><a class="dropdown-item" href="/MyNotesUser/Index">Kullanicilar</a></li>
                            }
                       
                        </ul>
                    </li>
                }
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="bi bi-suit-heart-fill"></i> En Begenilenler
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-pencil-square"></i> Son Yazilar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="bi bi-info-circle-fill"></i> Hakkimizda
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
                    @if (user == null)
                    {
                        <li class="nav-item">
                            <a href="/home/login" class="nav-link action">
                                <i class="fas fa-sign-in-alt"></i> Giris
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/register" class="nav-link action">
                                <i class="fas fa-user-plus"></i> Uye Ol
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="/Home/ShowProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-wrench"></i> @user.UserName</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Home/ShowProfile">Profil Goster</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/Home/EditProfile">Profil Duzenle</a></li>
                                <li><a class="dropdown-item" href="/Home/DeleteProfile" onclick="return confirm('Hesabinizi silmek istediginize eminmisiniz?!!!')">Profil Sil</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/LogOut" class="nav-link action">
                                <i class="fas fa-sign-out-alt"></i> Cikis
                            </a>
                        </li>
                    }
                </ul>
                @*<form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form>*@
            </div>
        </div>
    </nav>


