@*@model MyNotes.MVC.ViewModel.OkViewModel*@
@{
    ViewBag.Title = "Ok";
}
<link href="/Content/Login-RegisterStyle.css" rel="stylesheet" />


<div class="logreg">
    <div class="form-signin">
        <form>
            <img src="/images/users.jpg" alt="test" class="mb-4 rounded-circle" width="144" height="120" />
            <h1 class="h3 mb-3 fw-normal">@Model.Header</h1>
            <div class="text-success">
                <h2>
                    <span>@Model.Title</span>
                </h2>
                <hr />
                <p class="text-justify">
                    @{
                        foreach (string msg in Model.Items)
                        {
                            @msg <br>
                        }
                    }

                </p>
            </div>
        </form>
    </div>
</div>
@{
    string tmr = string.Empty;
    if (Model.IsRedirecting)
    {
        tmr = "setTimeout(function(){window.location='" + Model.RedirectingUrl + "';}," + Model.RedirectingTimeout + ");";
    }
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("header").hide();
        $("footer").hide();
        $("#category2").hide();
        $("#category3").removeClass("col-md-9").addClass("col-md text-center d-flex justify-content-center");
        $("body").addClass("bg-warning");

        //setTimeout(function() {
        //        window.location = "/Home/Index";

        //    },
        //    30000);
        @Html.Raw(tmr);


    });
</script>